.about{
    padding: 100px 0;
}
.about__content{
    display: flex;
    column-gap: 104px;
    align-items: center;
}
.about__image{
    width: 100%;
}

.about__img-block {
    width: 50%;
    position: relative;
}
.about__img-block::before{
    content: url("../images/decor.svg");
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}
.about__img-block::after{
    content: url("../images/decor.svg");
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
}